:root {
  --bg-color: #2c2f3a;
  --container-bg: #3c3f4f;
  --input-bg: #1e1e2e;
  --text-color: #f2f2f2;
  --accent-color: #00c3ff;
  --shadow: 0px 4px 20px rgba(0,0,0,0.3);
  --radius: 12px;
}

 body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
  margin: 0;
} 

h2 {
  color: var(--accent-color);
  font-size: 22px;
  margin:auto;
}
 
.amarillo  {
  color: #ffcc00;
  font-weight: bold;
  cursor: pointer;
}
/* 
.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 40px auto;
} */

/* .contenedor {
  background-color: var(--container-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 20px;
  width: 49%;
  max-width: 480px;
  transition: transform 0.3s ease;
} */
 .parrafo{
  margin:10px auto;
  line-height: 0.9;
  padding: 10px 10px 10px 35px;
  font-size: 14px;
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--container-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  width: 79%;
  max-width: 880px;
  transition: transform 0.3s ease;
 }

.wrap{margin:40px auto;
      border-bottom: 1px solid #ccc;
      overflow: auto;
      text-align: center;
    }

.contenedor{width:49%; 
            height:auto; 
             
            float:left;
            /* scrollbar-width: none;  *//* Firefox */           
            -ms-overflow-style: none; /* IE y Edge */
          transition: transform 0.3s ease;
        }                
                                   

.contenedor:hover {
  transform: translateY(-2px);
}


code-input {
  background-color: var(--input-bg);
  color: var(--text-color);
  border: 1px solid #555;
  border-radius: var(--radius);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  font-family: monospace;

}

button {
  background-color: var(--accent-color);
  color: black;
  border: none;
  border-radius: var(--radius);
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s;
}

button:hover {
  background-color: #009ecb;
}

iframe {
  width: 100%;
  min-height: 500px;
  border: 1;
  border-radius: var(--radius);
  background-color: white;
}


